.box {
  height: 50px;
  width: 50px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid black;
  float: left;
  background: orange; 
}

.mine {
	background-image: url("./angryPanda.jpg");
	background-size: cover;
}

.gray {
  background-color: #F0F0F0;
}

.number {
	text-align: center;
	line-height: 50px;
	background-color: #F0F0F0;	
}

.one {
	color: blue;
}

.two {
	color: green;
}

.three {
	color: red;
}

.four {
	color: purple;
}

.five {
	color: maroon;
}

.six {
	color: turquoise;
}

.seven {
	color: black;
}

.eight {
	color: gray;
}

.flag{
	background-image: url("./flag.png");
	background-size: cover;
}

#reset {
	margin: 5px;
	background: lightgray;
	display: inline-block;
	border-radius: 3px;
	padding: 5px;
}

#reset:hover{
	cursor: pointer;
	background: #e0e0e0;
}







