.box {
  height: 50px;
  width: 50px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid black;
  float: left;
  
}

.mine {
	background-image: url("./angryPanda.jpg");
	background-size: cover;
}

.gray {
  background-color: gray;
}